[2020-12-14 01:56] ksanty opened #7 "Contact groups - Basic, Sharable"

[2021-05-24 17:39] tinashe404 opened #68 "Inconsistent contacts across apps"
People have noticed that their contacts are not consistent across the apps.

Examples of the issue:
1. On a new atsign, someone added contacts into @mosphere pro. The contacts appeared in @buzz but they did not appear in @mosphere or @rrive
2. Has contacts in @mosphere but had to add them all individually into @mosphere pro using the same atsign

**Expected behavior**
The contacts should be sync'd

[2021-06-22 15:41] anthonyvprakash opened #77 "atsign.dev 2.0 : Script needed to import library descriptions and relevant content from github/pub.dev"
As discussed on Monday, June 21st in the Engg. stand, we dont want to duplicate information on the dev site. The best way to do it is to have one source of info either from Git or Pub.dev. We need a script that pulls the relevant info to the Dev site on a regular basis.

[2021-06-24 11:52] anthonyvprakash opened #78 "atsign.dev 2.0 : Content changes on pub.dev for Libraries"
- [x]  Change the current @developer logo to @ dev to make it consistent across Github
- [ ]  'Now for a little internet optimism' needs to change to whatever we decide is our new tagline for messaging
- [x]  Revisit descriptions across libraries - see if it makes sense to use @protocol vs. @platform

[2021-06-29 15:31] cpswan commented on #77
Closed by [asign.dev#102](https://github.com/atsign-foundation/atsign.dev/pull/102)

[2021-06-29 15:31] #77 closed, assigned to cpswan, murali-shris, TylerTrott, anthonyvprakash

[2021-07-19 14:44] nickelskevin opened #84 "Add a generic Dart library for notifications"
**Is your feature request related to a problem? Please describe.**
As described in this [document](https://docs.google.com/document/d/1z8xAjqJQ3NtqYOAhhgIvQULGeF9ZL7EtwqnGSjBjiXU/edit#), there is an opportunity to provide an end-to-end encrypted, peer-to-peer, surveillance free notification service.

**Describe the solution you'd like**
The approach needs to be discussed in the architecture call.

[2021-07-20 04:59] ksanty opened #86 "Missing documentation - at_lookup (Scores Tab)"
[Support multiple platforms dropdown ](https://pub.dev/packages/at_lookup/score)missing documentation for the following:

- [x] Follow dart file conventions
- [ ] Support multiple platforms
- [x] Pass static analysis

[2021-07-20 05:06] ksanty opened #87 "Review for Missing Documentation - at_lookup (API Reference)"
- [ ] Right nav bar under documentation [API Reference ](https://pub.dev/documentation/at_lookup/latest/).  Check for any missing documentation (samples and examples)
- [ ] Do we need a [link for documentation](https://pub.dev/packages/at_lookup)?

Please review library links as well (current, samples and examples)
LIBRARIES

- [ ] [at_lookup](https://pub.dev/documentation/at_lookup/latest/at_look

[2021-07-21 02:46] ksanty opened #89 "Add missing documentation - at_server_status (Scores Tab)"
[Scores tab](https://pub.dev/packages/at_server_status/score) is missing follow documentation: (as of 8/4 error message on page - awaiting analysis to complete)

- [ ] provide documentation
- [ ] support multiple platforms

[2021-07-21 02:53] ksanty opened #90 "Review for missing documentation - at_server_status (API Reference)"
- [ ] Right nav bar under documentation [API Reference](https://pub.dev/documentation/at_server_status/latest/) requires content review (samples and examples)
- [ ] Is [documentation link](https://atsign.dev) pointing to the correct location?

Please check libraries link as well (current, samples and examples)
[LIBRARIES](https://pub.dev/documentation/at_server_status/latest/)
- [ ] at_server_stat

[2021-07-21 05:06] ksanty opened #92 "Add missing documentation - at_contact (Scores Tab)"
[Scores tab](https://pub.dev/packages/at_contact/score) all require documentation:

- [ ] provide documentation
- [ ] support multiple platforms

[2021-07-21 05:11] ksanty opened #93 "Review for missing documentation - at_contacts (API Reference)"
- [ ] Right nav review [API reference](https://pub.dev/documentation/at_contact/latest/) missing documentation (samples and examples)
- [ ] Is the [documentation link](https://atsign.dev/docs/) pointing to the correct location?

Please look at the library links too (current, samples and examples)
LIBRARIES

- [ ] [at_contact](https://pub.dev/documentation/at_contact/latest/at_contact/at_contact-li

[2021-07-21 15:08] cpswan commented on #90
This should be worked around by https://github.com/atsign-foundation/atsign.dev/pull/217

We need to fix pubspec.yaml and release to pub.dev for a permanent fix (and then we can remove the workaround)

[2021-07-21 17:33] ksanty commented on #90
Leaving this issue opened because the API reference piece still needs to be addressed.

[2021-08-05 03:42] ksanty opened #98 "Update Readme - at_lookup"
Review [at_lookup ](https://pub.dev/packages/at_lookup)readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 03:55] ksanty opened #99 "Update Readme - at_server_status"
Review [at_server_status](https://pub.dev/packages/at_server_status) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-05 04:00] ksanty opened #100 "Update Readme - at_contact"
Review [at_contact](https://pub.dev/packages/at_contact) readme package version (example the package version is 2.0.3, but the readme description says - dependencies: at_lookup: ^1.0.0)

- [x] Action: remove this section from README and maybe add any other relevant information. We can remove the entire Installation section from README.

[2021-08-09 12:05] murali-shris opened #101 "namespace changes in at_contacts"

[2021-08-09 12:06] murali-shris commented on #101
* changes for namespace for keys created in at_contacts library

[2021-08-09 21:05] ksanty commented on #101
@murali-shris can you please add a [label(s)](https://github.com/atsign-company/labels/labels) to this so we can better track status?  TY

[2021-08-12 12:11] DivyaYadavareddy commented on #101
Added namespace changes in at_contact library and published it to pub.dev with version (at_contact: ^2.0.3)

[2021-08-12 12:12] #101 closed, assigned to DivyaYadavareddy

[2021-08-16 06:22] #98 closed, assigned to murali-shris

[2021-08-16 06:22] #100 closed, assigned to sarika01

[2021-09-16 05:48] sitaram-kalluri opened #113 "intermittently client waits even after receiving the server respone."
**Describe the bug**

The client keeps waiting even after the getting server responses. This is an intermittent issue.

**To Reproduce**
Steps to reproduce the behavior:
1. First I '...'
2. Then I '...'
3. And then '...'
4.

**Expected behavior**
The client should process the server responses.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Smartphone (please compl

[2021-09-16 05:55] #113 closed, assigned to sitaram-kalluri, murali-shris

[2021-09-23 09:59] DivyaYadavareddy commented on #86
Inorder to remove monitorclient from at_lookup, deprecated method at_client.startMonitor has to be removed completely. This will be done in a future version.

[2021-10-07 20:22] TylerTrott opened #120 "-- Migrate from package:pedantic to package:lints"
**Describe the solution you'd like**

Per the guidance from [dart-lang/lints](https://github.com/dart-lang/lints#migrating-from-packagepedantic):

in each `pubspec.yaml`:

[code]

and in each `analysis_options.yaml`:

[code]

[2021-10-07 21:04] aniketh-varma commented on #120
Hi, can I work on this issue?

[2021-10-07 23:07] ksanty commented on #120
Just added you to the issue @aniketh-varma.

[2021-10-08 10:42] #120 closed, assigned to aniketh-varma

[2021-11-25 17:35] ksanty commented on #92
Hi @naresh0689 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:44] ksanty commented on #89
Hi @kalluriramkumar we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 17:56] ksanty commented on #93
Hi @naresh0689 we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 18:04] ksanty commented on #90
Hi @kalluriramkumar we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 18:05] ksanty commented on #87
Hi @kalluriramkumar we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 18:06] ksanty commented on #86
Hi @kalluriramkumar we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-25 18:07] ksanty commented on #99
Hi @kalluriramkumar we need to review this very old ticket for accuracy, potentially close it and divert to the new pub.dev publishing issue. Creating new issue cards today.

[2021-11-26 04:26] ksanty opened #126 "Pub.dev documentation at_lookup"
### Pub.dev content and (source)s - CHECKLIST OF TO DO's BELOW
All the content shown on pub.dev and where it comes from.
Example: [Shelf](https://pub.dev/packages/shelf) (will point to one of our own once completed)

- Package name, version <pubspec.yaml>
- Published date (generated)
- Platform support (generated based on project structure)
- Tabbed navigation
  - Readme (note: initial content com

[2021-11-26 20:04] nickelskevin opened #123 "decide whether or not to add "packages" subdirectory for libraries published to pub.dev"
**Is your feature request related to a problem? Please describe.**
The current directory structure creates bad links on pub.dev for Example content.
For example, clicking on the [example/at_server_status_example.dart](https://github.com/atsign-foundation/at_libraries/blob/master/example/at_server_status_example.dart) link on the [at_server_status](https://pub.dev/packages/at_server_status/example)

[2021-11-30 16:37] cpswan commented on #78
@anthonyvprakash this got buried whilst waiting for messaging to be straightened out. Are you OK to close for now, and we can have other tickets later when we decide how to use 'Flip the Internet' in dev branding?

[2021-12-03 12:07] sitaram-kalluri commented on #126
In atsign.dev, the link under at_lookup package redirects to at_lookup package in pub.dev. Adding the atsign.dev link below

https://atsign.dev/docs/functional_architecture/libraries/

[2021-12-13 05:38] sitaram-kalluri commented on #126
PR for the changes: https://github.com/atsign-foundation/at_libraries/pull/125

[2021-12-13 14:31] cpswan commented on #123
After further discussion with @XavierChanth and others I'm not sure that we should refactor existing packages. We just need to ensure that we have correct `repository:` tags defined in pubspec.yaml to prevent 404s.

We can however start using the packages convention for future pubdev repos by putting it in the archetype-pubdev template.

[2021-12-13 15:31] anthonyvprakash commented on #78
This is a duplicate ticket. Being tracked on other [tickets](https://github.com/atsign-foundation/at_client_sdk/issues/201)

[2021-12-13 15:31] #78 closed, assigned to nickelskevin, cconstab, murali-shris, VJag, TylerTrott

[2021-12-13 15:50] #123 closed, assigned to gkc, cpswan, nickelskevin, sarika01, murali-shris

[2021-12-15 05:31] sitaram-kalluri commented on #126
Merged the document changes of at_lookup package to trunk branch.

[2021-12-15 05:31] #126 closed, assigned to nobody

[2021-12-21 22:14] ksanty opened #129 "Unlist at_contact on Pub.dev"
Unlist the following packages ~ @nickelskevin to provide further details

- [ ] at_contact

[2021-12-21 22:16] ksanty opened #130 "Unlist at_server_status on Pub.dev"
Unlist the following packages ~ @nickelskevin to provide further details

- [ ] at_server_status

[2022-01-24 14:15] gkc commented on #84
@nickelskevin Now that notify and monitor have been implemented, do we want to revisit this and think about making a stand-alone library that developers can include just for this purpose?

[2022-02-03 03:25] cconstab opened #132 "A failed lookup hangs the TCP session and this builds up to a DoS on the secondary"
**Describe the bug**
When using the at_find_api to lookup a value if that value exists everything works. But if that value does not exist sessions to the secondary do not close and eventually the secondary starts rejecting connections (too many sessions)

**To Reproduce**
Steps to reproduce the behavior:
1. make a call to an @sign via the at_find_api to lookup a 'key' that does not exist
 `https:/

[2022-02-06 01:57] #99 closed, assigned to sarika01, sitaram-kalluri

[2022-02-06 01:58] #92 closed, assigned to naresh0689

[2022-02-06 02:01] #89 closed, assigned to sitaram-kalluri

[2022-02-06 02:07] #93 closed, assigned to naresh0689

[2022-02-06 02:09] #90 closed, assigned to cpswan, sitaram-kalluri, xavierchanth, TylerTrott

[2022-02-06 02:10] #87 closed, assigned to sitaram-kalluri

[2022-02-06 02:10] #86 closed, assigned to sitaram-kalluri, DivyaYadavareddy

[2022-02-15 05:54] ksanty opened #137 "Update at_contact"
Update Github documentation for to be [unlisted pub.dev package at_contact](https://github.com/atsign-foundation/at_libraries/issues/129).

Review [at_contact ](https://github.com/atsign-foundation/at_libraries/tree/trunk/at_contact)readme.md, changelog.md and look for standard archetype template updates to make current.  Repo will remain active even though it will be unlisted on Pub.dev.

- [ ]

[2022-02-16 05:20] ksanty opened #138 "Update at_server_status"
Update Github documentation for to be [unlisted pub.dev package at_server_status](https://github.com/atsign-foundation/at_server/issues/448).

Review [at_server_status](https://github.com/atsign-foundation/at_libraries/tree/trunk/at_server_status) readme.md, changelog.md and look for standard archetype template updates to make current.  Repo will remain active even though it will be unlisted on Pu

[2022-02-16 17:40] gkc opened #140 "Race condition in AtLookupImpl._process"
**Describe the bug**
* `AtLookupImpl._process()` does a few things - authenticates if necessary, sends a command, reads a response
* The intent is that all of that should happen as a single atomic group
* However there is no mutex guaranteeing that. As a result, for example, a caller can receive the response from a different request.

**To Reproduce**
* Have one piece of code for atSign_1 which is

[2022-02-17 13:28] murali-shris commented on #140
import 'dart:io';

import 'package:at_client/at_client.dart';
import 'package:at_client/src/manager/at_client_manager.dart';
import 'package:at_utils/at_logger.dart';

import 'dart:convert';
import 'dart:typed_data';
import 'package:crypto/crypto.dart';

void main() async {
  AtSignLogger.root_level = 'finest';
  final atSign = 'alice';
  var atClientManager = await AtClientManager.getInstance()

[2022-02-17 13:30] murali-shris commented on #140
@gkc above code doesn't complete successfully with trunk branch of at_client pointing to your branch of at_lookup quickFixAtLookupRaceCondition
In _processSyncRequests()
 _syncInProgress = true;
  final serverCommitId = await _getServerCommitId();// stats:3 request probably is sent(unable to confirm since server has only INFO logs). The response is not received and _syncInProgress never gets set t

[2022-02-18 06:39] murali-shris commented on #140
@gkc after running the tests multiple times I figured that issue happens even without your code changes..Issue requires a fix in SyncServiceImpl.

[2022-02-18 10:15] gkc commented on #140
Yep it's unrelated

[2022-02-18 10:15] gkc commented on #140
Closing - fixed by #139 and new at_lookup package 3.0.8 published

[2022-02-18 10:16] #140 closed, assigned to gkc

[2022-03-31 02:07] cconstab opened #156 "at_lookup causes a crash when lookups fail to root (possibly other places too)"
**Describe the bug**
If a device is offline then at_lookup can cause the application to crash rather than wait for connectivity to come back. Looks to be a failure in name lookup in this case but if the network is down nothing @ should crash it should wait until network is available..

**To Reproduce**
Steps to reproduce the behavior:
1. Create a small app that connects to a secondary (ColinSnippe

[2022-03-31 02:09] cconstab commented on #156
@VJag would love your thoughts on this one and how to handle gracefully at the @ platform level.. Thanks

[2022-03-31 02:20] VJag commented on #156
I will certainly analyse.

[2022-03-31 12:43] VJag commented on #156
@cconstab  I have captured my analysis here:

https://docs.google.com/spreadsheets/d/1KE22RrWzIKPvR1NTDZWKcfaU1sFnCEhJeHoDYjd3QBA/edit?usp=sharing

In the "Network usage analysis" tab I tried to capture the network usage, in the "Solution" tab tried to capture the new abstraction I am trying to propose.

Please let me know if my analysis is in line what was expected.

[2022-04-02 18:26] cconstab commented on #156
Dealing ng with on/off last ne and intermittent network needs to be cor to @.. it's important in mobile but critical in IoT .

 I think this needs to be looked at this sprint..

Thoughts ?

@gck @VJag @nickelskevin

[2022-04-02 19:00] gkc commented on #156
I agree. Every network-related error needs to have clearly defined predictable well-tested behaviour, and also have reliable predictable well tested behaviour on reconnect

I'd like the focus for this sprint to be

1) Graceful reliable fully tested handling of intermittent network availability in the client libraries

2) Lots more tests ensuring we cover all recovery scenarios for inter-server con

[2022-04-03 21:41] gkc commented on #156
I'd add
3. Review how errors are passed from the underlying core libraries to application code, agree on any enhancements that need to be made, implement them
4. Ensure that the apps have clear visibility of all client-side state which is relevant - i.e. document and agree what enhancements need to be made in order to give the visibility that app code needs, and implement those enhancements

[2022-04-03 21:47] gkc commented on #156
Tagging @sarika01 also. Making all of this happen will need close collaboration across all of the engineers irrespective of whether they've been more focussed on apps or client SDK or server - the more cross-pollination that happens, the better. It'd be great to see 'core' developers working on app widgets and 'app' developers working on 'core' libraries!

[2022-05-10 13:32] sarika01 opened #167 "AtLookup fails on iPad"
**Describe the bug**
During onboarding flow, AtLookup throws error

**To Reproduce**
Steps to reproduce the behavior:
1. First I installed both atmosphere-pro and wavi on iPad
2. Then I tried to onboard an atsign
3. Onboarding flow failed with CERTIFICATE issue

**Expected behavior**
Onboarding flow should work as on any other device

**Screenshots**
![0A0A4651-6C6B-4AB0-899F-CD6C9AD8A2B6](https:/

[2022-05-10 13:33] sarika01 commented on #167
The same atsign works fine on mobile and desktop versions.

[2022-05-10 13:58] gkc commented on #167
9.3.5 operating system is very old, does not have the required cert in its root certs list

I presume the iPad mini is 1st generation, for which 9.3.5 is the last supported version of iOS

See here: https://discussions.apple.com/thread/253219776?answerId=253219776021#253219776021

which says to try this:

[2022-05-18 12:31] cpswan opened #171 "at_utf7 pub.dev package points to upstream repo rather than this fork"
**Describe the bug**
On pub.dev the Repository (GitHub) link points to https://github.com/michaelspiss/dart-utf7 rather than https://github.com/atsign-foundation/at_libraries/tree/trunk/dart_utf7

The usage example also imports the upstream utf7 rather than the at_utf7 (Null safety) fork.

**Expected behavior**
- [ ] directory should be named at_utf7 rather than dart_utf7 (fix this first)
- [ ] pu

[2022-05-18 14:51] sarika01 commented on #167
On installing the certificate, the issue was resolved.

[2022-05-18 14:51] #167 closed, assigned to nobody

[2022-05-24 00:17] #137 closed, assigned to nobody

[2022-05-24 00:17] #138 closed, assigned to nobody

[2022-07-01 01:06] cconstab opened #189 "Update TLS connection to optionally output TLS keys to file"
**Is your feature request related to a problem? Please describe.**
Update TLS connection to optionally output TLS keys to file. This allows you to "see" inside the TLS packets using WireShark and diagnose issues.

**Describe the solution you'd like**
Open to suggestions on implementation but it would be nice just to include a dev low level library that includes this feature. So testing can be done

[2022-07-06 05:38] VJag commented on #189
##  Flowchart for proposed changes
[code]

[2022-07-06 06:06] murali-shris commented on #189
[code]

[2022-07-06 06:06] murali-shris commented on #189
https://api.flutter.dev/flutter/dart-io/SecureSocket/connect.html

[2022-07-06 06:08] murali-shris commented on #189
files to modify on client side
at_client/lib/src/manager/monitor.dart
at_lookup/lib/src/at_lookup_impl.dart

[2022-07-06 06:09] murali-shris commented on #189
wireshark TLS decryption
https://wiki.wireshark.org/TLS#tls-decryption

[2022-07-11 14:00] srieteja commented on #189
The above-listed PRs contain implementation for creating sockets with security context and changes necessary to support this new implementation.
**_What needs to be worked on further:_** Unit tests in at_client_sdk need minor changes to the way they mock MonitorOutboundConnectionFactory class as this class uses a new implementation to create secure sockets.

@srieteja

[2022-07-13 07:06] murali-shris opened #200 "at_lookup multiple calls to findSecondary"
**Describe the bug**
After CacheableSecondaryAddressFinder implementation, root server should be hit only once to fetch secondary address.
But currently there are many hits to root server since findSecondary in at_lookup creates a new instance of CacheableSecondaryAddressFinder.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sample at_client to execute any verb
2. Enable log level

[2022-07-13 07:09] murali-shris commented on #200
root cause:
at_lookup --> createConnection calls the deprecated method findSecondary(...) which creates new instance of CacheableSecondaryAddressFinder
Possible solution
Replace the call to deprecated findSecondary method with CacheableSecondaryAddressFinder

[2022-07-18 23:24] gkc opened #203 "Race possible while authenticating"
**Describe the bug**
If the `authenticate(String? privateKey)` in AtLookupImpl is called twice in quick succession, then the requests and responses for the two could become intermingled, whereas the expectation is that the entire authentication flow should complete atomically

**Expected behavior**
1. Employ a mutex, similar to how the `_process` method works
2. Within the critical section of code

[2022-07-20 19:29] #203 closed, assigned to sitaram-kalluri

[2022-07-21 17:20] #200 closed, assigned to murali-shris, srieteja

[2022-07-25 10:26] srieteja opened #210 "at_onboarding_cli updates publickey with improper syntax"
**Describe the bug**
The key of concern public:publickey@atsign is being created with proper syntax while activating/onboarding but the key stored on the local secondary does not follow proper correct syntax which is being synced to the remote secondary.

**To Reproduce**
Steps to reproduce the behavior:
1. Use at_onboarding_cli to activate an atsign.
2. Look at the logs. One can observe that publ

[2022-07-25 14:40] gkc commented on #84
@gkc start thinking about this again

[2022-07-28 00:58] ksanty commented on #84
@gkc should we re-prioritize to high for PR43 sprint planning?

[2022-07-28 13:38] gkc commented on #84
I've flagged it for architecture discussion. The question to be answered is whether we want a standalone library just for sending / receiving notifications.

[2022-07-29 10:06] srieteja commented on #210
necessary fixes pushed to trunk with PR https://github.com/atsign-foundation/at_libraries/pull/211

[2022-07-30 02:25] cconstab commented on #189
When testing this I only see one TLS connection dumping the keys .. The monitor connection.. We need to dump keys for all files. The test for the rootcacerts file also does not error if the file is not there. Plus if the files is not there for the keys it does not get opend (it is being opened in append mode)..

It seems that the monitor connections transfer the options but the atlookup connection

[2022-07-30 06:16] cconstab commented on #189
Ok I have spotted the problem in at_libraraies and posted a branch with a 'fix'

@srieteja  see what you think

I am not too sure how the monitor connection gets picked up ?? As I see nowhere in `monitor_client.dart` where the code uses the TLS dumping socket connection , does that happen somewhere else now ??

the branch is 'tlsdump` I tested sshnp's using

[code]

[2022-07-30 12:09] srieteja commented on #189
The monitor uses the SecureSocketUtil in 'at_client/lib/src/manager/monitor.dart'. This was a more feasible place to do this as we needed access to the AtClientPreferences. @cconstab

[2022-07-30 16:01] cconstab commented on #189
Is my fix ok? @srieteja if so I will raise a PR

[2022-07-30 18:08] srieteja commented on #189
@cconstab I was able to understand the problem but I was unable the understand the fix. But I tried running a sample code with your branch and I could see the difference. I got tls keys from two sessions with the fix. It does seem good to me, I will try understanding how that is happening in the meantime.

[2022-07-31 04:02] cconstab commented on #189
Yup it's just a single line change to remove the bool.  The rest is just editor noise

[2022-07-31 13:42] srieteja commented on #189
Yes. The thing that is bugging me is that even though the false statement was removed, the default value for decryptPackets is false in SecureSocketConfig class. I'm just trying to understand how removing the false statement is affecting the functioning.

[2022-08-01 14:48] srieteja commented on #189
@cconstab I just debugged it and understood your fix and was able to observe the bug. Also if it's okay with you I would like to push a commit into your branch resolving the case with rootcerts availability check.

[2022-08-01 19:33] cconstab commented on #189
That's great thanks

[2022-08-07 23:12] srieteja commented on #189
@cconstab sorry for the delay, I forgot to push the change into the branch. I pushed a fix to throw an error when the certs don't exist. Reg the other thing I used append mode instead of write as write would overwrite data from other connections in the same session, and append does create a new file when a file does not already exist. If that sounds good to you, we can go ahead and open up a pr.

[2022-08-08 07:48] srieteja commented on #210
Closing the ticket as a new version of at_onboarding_cli has been released with the fix.

[2022-08-08 07:48] #210 closed, assigned to srieteja

[2022-08-08 15:07] cconstab commented on #189
That sounds great please open the PR

[2022-08-08 15:38] #129 closed, assigned to nobody

[2022-08-08 15:38] #130 closed, assigned to nobody

[2022-08-22 11:25] gkc commented on #189
I think this has been completed but waiting for @cconstab to approve the PR

[2022-08-22 21:53] cconstab commented on #189
Ok I have tested this an approved the PR ... Thanks folks!

[2022-08-22 21:54] cconstab commented on #189
Once PR is merged and published, we can close this ticket

[2022-08-23 13:03] cpswan opened #219 "at_onboarding_cli example link and metadata on pub.dev incorrect"
**Describe the bug**

Two minor issues, that should be corrected with a single update:

1. Link to example in README is to a branch on GitHub (rather than trunk), but it should probably be to the example tab in pub.dev anyway.
2. Metadata still refers to @ sign rather than atSign

**Expected behavior**

1. Example link should go to example tab in pub.dev
2. Use `atSign` in metadata

[2022-08-23 14:54] #219 closed, assigned to srieteja

[2022-08-23 15:11] JeremyTubongbanua opened #222 "Onboard atSigns easily in headless systems"
## **Background:**

I was writing documentation for sshnp on the dev site, then I realized the first step was to prepare two atSigns and their `.atKeys` files.

Getting the atSigns is the easy part, but for somebody who wants to use something like ssh no ports and want nothing to do with our apps or ecosystem, it may be hard for them to onboard their atSigns and generate the `.atKeys` files.

## *

[2022-08-26 21:07] #189 closed, assigned to murali-shris, VJag, srieteja

[2022-08-30 15:47] srieteja opened #226 "onboarding_cli: introduce activate_cli and other changes"
**Is your feature request related to a problem? Please describe.**
- Onboarding requires certain unnecessary parameters and also returns at_client instance which is not necessary
- No proper way to safely close/kill the onboarding_service instance
- No check to assert that provided downloadPath directory exists
- keys are updated into secondary first and then written into the file. In case writing

[2022-08-30 15:49] #226 closed, assigned to srieteja

[2022-08-31 22:04] JeremyTubongbanua commented on #222
I've started working a little bit.

[2022-09-07 00:20] cconstab opened #228 "at_lookup 3.0.30 printing out signature to console during PKAM auth"
**Describe the bug**
The latest version of at_lookup includes a line in `at_lookup_impl.dart` that prints outs the PKAM challenge signature to the console

**To Reproduce**
Steps to reproduce the behavior:
1. First I wrote a small onboarding cli app
2. Then I saw the signature printed to screen!
3. And then investigated why
4.  Trunk does not have this bug so its been cleared up but the pub.dev li

[2022-09-19 15:42] tinashe404 commented on #222
@JeremyTubongbanua the requirement for the cram key update we spoke about can be done by Srie Teja.

[2022-09-20 14:59] purnimavenkatasubbu commented on #228
at_lookup: ^3.0.31 is published with the change.

[2022-09-21 04:23] cconstab commented on #228
Thank you!

[2022-09-26 20:54] cconstab commented on #228
Confirmed thanks

[2022-09-26 20:54] #228 closed, assigned to murali-shris, purnimavenkatasubbu

[2022-09-27 01:19] JeremyTubongbanua opened #232 "Atsign auto-activation takes a while and code may progress too quickly"
## Summary
Now that auto activation is a feature in the registrar, sometimes activating the atSign will take a while. Code may go straight to `onboard()` with the cram key however the secondary address is not initialized. This may become a problem if CLI code tries to onboard too quickly.

## Steps to reproduce

[code]

## Hotfix

Simply pause your code until the secondary address can be found.
[c

[2022-09-27 01:23] JeremyTubongbanua commented on #232
@tinashe404 Feel free to give your thoughts
Also feel free to change the repo if it's in the wrong place and/or add more assignees. Thank you

[2022-09-27 15:13] srieteja commented on #232
Are we planning to implement the registrarV3(the one with activation keys)? This issue only pops up on v3.

[2022-09-27 17:11] tinashe404 commented on #232
@athandle ... please confirm..

[2022-09-28 15:52] athandle commented on #232
@srieteja  can you please confirm which API(end points) you are using?

[2022-09-29 13:06] srieteja commented on #232
@athandle at the moment I'm using all v2 end-points(get-free-atsign, register-person, validate-person). The question is should I also provide an implementation for v3 ones too?

[2022-09-29 13:15] athandle commented on #232
@srieteja you mentioned issue is with v3. Can you please clarify that.

We have to wait till secondary is started that I think you are aware of that is part of all version of APIs

Yes we have to use v3 but there are minor changes that I have to communicate and I am documenting
https://docs.google.com/document/d/1X9dbqeB5TE4XIlYzNdenGK1iNAseMs-HdllLF8XPBl8/edit?usp=sharing

[2022-09-29 13:34] srieteja commented on #232
I have majorly faced this issue with v3 atsigns so I assumed it is only specific to v3. If it's present in v2 and v3, I guess this is something we need to solve this issue for all secondaries.

[2022-09-29 13:44] athandle commented on #232
@srieteja  behind the scene APIs are not changed just name and response structure. Secondary creation process is same behind the scene.
Do you have wait logic till secondary start in your code or not? If not then check on boarding widget code or check with Sachin to help

[2022-09-29 13:45] srieteja commented on #232
In at_java, I put a wait logic for onboarding. I'll do the same for dart too.

[2022-10-03 11:39] srieteja opened #235 "Signing library - Implementation"
**Is your feature request related to a problem? Please describe.**
A library which implements the design which was worked on during PR46, to enable easy addition of cryptographic signatures to AtData as well as to ad-hoc data, and easy verification of those signatures.

**Describe the solution you'd like**
Design a tool that accepts AtValue and necessary keys and digitally signs and returns the At

[2022-10-03 14:30] srieteja commented on #222
PR reg this task is awaiting review. This issue will be closed after a newer version of at_onboarding_cli has been released.

[2022-10-03 22:57] ksanty commented on #232
@JeremyTubongbanua can you add some labels to this issue?  TY!

[2022-10-03 23:24] JeremyTubongbanua commented on #232
Hey @ksanty , sorry I don't know what labels you want me to add...

[2022-10-03 23:35] ksanty commented on #232
Is this a bug?  Enhancement?  Just a lil context.  I can create a new label if we don't have one that suits @JeremyTubongbanua

[2022-10-03 23:45] JeremyTubongbanua commented on #232
Hmm I would consider this a bug because it would cause errors on my end.

Thanks :)

[2022-10-13 10:40] #222 closed, assigned to srieteja, JeremyTubongbanua

[2022-10-17 15:07] srieteja commented on #235
Package implementation is complete. Pending decision on where the code is to be stored/published. Carrying this into the next sprint for code review and testing.

[2022-10-17 15:09] srieteja commented on #232
The fix is ready to be pushed into trunk as part of the PR that has been linked. Minor problem with failing tests which needs to be resolved before merging.

[2022-10-21 05:49] #232 closed, assigned to srieteja, tinashe404, JeremyTubongbanua

[2022-10-30 16:37] gkc commented on #235
@srieteja is there a pull request I can review?

[2022-10-31 05:45] srieteja commented on #235
@gkc it's currently in one of my personal repo. I'll migrate it into atsign-foundation today. Also, I could not work on it during the last sprint, so there are minor bugs. I will have a polished version ready by tomorrow

[2022-10-31 10:14] srieteja opened #242 "Github actions failure in at_libraries"
### Describe the bug

The at_onboarding_cli functional_tests that are part of at_libraries GitHub actions are failing. Specifically, the test_for_env_readiness check is failing after retrying for 5 mins. This is causing the actions to terminate and abort after this test fails.

### Steps to reproduce

1. Run GitHub actions in at_libraries
2. The at_onboarding_cli/functional_tests fail

### Expecte

[2022-10-31 10:20] srieteja commented on #242
Cause of test failure: The tests were using a docker image tag "vip" whose certs have expired. In order to resolve this issue we switched to a new docker image called "dev_env". This resolved the failing tests.

[2022-10-31 10:20] #242 closed, assigned to srieteja

[2022-11-13 15:59] gkc opened #246 "Secure element: Integrate the at_signing work into the at_chops package"
### Is your feature request related to a problem? Please describe.

See https://github.com/atsign-foundation/at_client_sdk/issues/756 and https://github.com/atsign-foundation/at_libraries/issues/235

### Describe the solution you'd like

Incorporate the signing library into the overall at_chops library

### Describe alternatives you've considered

_No response_

### Additional context

_No respons

[2022-11-13 16:08] gkc commented on #235
Going to mark this story complete as we want to put all of our cryptographic, hashing and signing operations into single new package in at_libraries repo called at_chops (**C**ryptographic and **H**ashing **OP**eration**S**)

[2022-11-13 16:08] #235 closed, assigned to VJag, srieteja

[2022-11-14 11:07] murali-shris opened #248 "develop a library for cryptographic and hashing operations"
### Is your feature request related to a problem? Please describe.

* Isolate cryptographic operations to a separate interface that can be reused

### Describe the solution you'd like

* develop a new package at_chops (cryptographic and hashing operations)

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-11-14 11:13] murali-shris commented on #248
implemented base version of the package
https://github.com/atsign-foundation/at_libraries/pull/245

[2022-11-14 12:11] murali-shris commented on #248
duplicate of https://github.com/atsign-foundation/at_client_sdk/issues/784

[2022-11-14 12:11] #248 closed, assigned to murali-shris

[2022-11-21 14:37] gkc opened #250 "Race condition - connection may not have been closed before another connection attempt is made"
### Describe the bug

When a timeout exception is thrown by the OutboundMessageListener when waiting for responses from the server, it calls async method `_closeConnection` - but without using `await`. As a result, the exception is thrown before the OutboundConnection is closed and marked as inValid. And a result of that, code which immediately tries to reissue whatever command timed out **_may_**

[2022-11-21 14:39] gkc commented on #250
5SP ... spent a long time trying to reproduce and diagnose the observed issue, and took a long time to land on the most expedient way of correctly reproducing the problem in unit tests so that we can stop new race conditions creeping in

[2022-11-21 15:11] gkc opened #252 "Unit tests aren't running for several packages, and they are broken"
### Describe the bug

* As part of the github action checks, unit tests are only running for at_lookup package (and only because I just added a job specifically for that)
* If I run the unit tests locally for at_contact, at_onboarding_cli and at_server_status, the tests do not all pass cleanly for any of those packages

### Steps to reproduce

* Create a PR - unit tests will only run for at_lookup

[2022-11-22 14:29] #250 closed, assigned to gkc

[2022-11-28 10:50] srieteja opened #257 "Use /home/atsign as default directory for at_onboarding_cli"
### Is your feature request related to a problem? Please describe.

At the moment, users need to provide inputs for the following fields:

- isLocalSecondaryRequired
- commitLogPath
- hivePath
- downloadPath
- atKeysFilePath

### Describe the solution you'd like

Instead of asking for the user's input for the above fields; use to default the path for all of these directories to HOME_DIRECTORY/.ats

[2022-11-28 10:53] srieteja commented on #257
Implementation has been done. Need to resolve failing tests in the attached PR

[2022-11-28 15:22] gkc commented on #246
@srieteja : Murali has got the at_chops work to the point that it should be possible to do this integration during this sprint

[2022-11-28 15:33] srieteja commented on #257
The failing tests could not be resolved after spending a good amount of time. Will try again. Carrying this to PR51 to resolve the tests and testing.

[2022-11-28 15:46] srieteja commented on #246
Sure, @gkc. I've wrapped up most of my current tasks. Will take this up next.